@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Playwrite+GB+J+Guides:ital@0;1&display=swap");

body {
  background: linear-gradient(to bottom, #01796f, #66cdaa);
  font-family: "Delius Swash Caps", cursive;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin: 0;
}

.tabContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-top: 50px;
}
.tabs {
  display: flex;
  justify-content: center;
}

.tabs button {
  width: 180px;
  background-color: #d4b89a;
  border: none;
  padding: 10px 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  font-size: 16px;
  color: black;
}
.tabs button.active {
  background-color: #ffe4c4;
  font-weight: bold;
  border: none;
  color: black;
  outline: none;
}
